<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our app, <%= @passenger.name %></h1>
    <p>
      You have successfully booked your tickets on odin flight-booker,
    </p>
    <p>Thanks for using our service and have a great day!</p>
  </body>
</html>
